@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Ultimate Dad Joke Archive</h1>
    <p>This is a web application to view and add amazing dad jokes.</p>
</div>
